# {{ ansible_managed }}
# ansibleguy.linux_bootstrap

# custom config
{% for listen in BOOTSTRAP.ssh.listen %}
ListenAddress {{ listen }}
{% endfor %}

Port {{ BOOTSTRAP.ssh.port }}
PermitRootLogin {% if BOOTSTRAP.ssh.allow_root | bool %}yes{% else %}no{% endif %}

{% if BOOTSTRAP.ssh.auth_multi | bool %}
AuthenticationMethods "publickey,password"
PasswordAuthentication yes
PubkeyAuthentication yes

{% else %}
PubkeyAuthentication {% if BOOTSTRAP.ssh.auth_pwd | bool %}yes{% else %}no{% endif %}

PasswordAuthentication {% if BOOTSTRAP.ssh.auth_pubkey | bool %}yes{% else %}no{% endif %}
{% endif %}


# login messages
{% if BOOTSTRAP.ssh.msg | bool %}
Banner /etc/ssh/banner.txt
{% endif %}

# these should only be changed if really needed
Protocol 2
SyslogFacility AUTH
LogLevel INFO
MaxAuthTries 5
PermitEmptyPasswords no
ChallengeResponseAuthentication no
UsePAM yes
X11Forwarding no
ClientAliveInterval 1800
AcceptEnv LANG LC_*
Subsystem       sftp    /usr/lib/openssh/sftp-server
PrintMotd no
KbdInteractiveAuthentication no
