# {{ ansible_managed }}
# ansibleguy.linux_bootstrap
# see: https://wiki.debian.org/UnattendedUpgrades

APT::Periodic::Verbose "2";

APT::Periodic::Enable "{% if BOOTSTRAP.auto_update.enable %}1{% else %}0{% endif %}";
APT::Periodic::Update-Package-Lists "{% if BOOTSTRAP.auto_update.enable %}1{% else %}0{% endif %}";
APT::Periodic::Unattended-Upgrade "{% if BOOTSTRAP.auto_update.enable %}1{% else %}0{% endif %}";
APT::Periodic::Download-Upgradeable-Packages "{% if BOOTSTRAP.auto_update.enable %}1{% else %}0{% endif %}";
APT::Periodic::Unattended-Upgrade "{% if BOOTSTRAP.auto_update.enable %}1{% else %}0{% endif %}";
APT::Periodic::AutocleanInterval "{% if BOOTSTRAP.auto_update.remove_unused_packages %}21{% else %}0{% endif %}";

Unattended-Upgrade::Origins-Pattern {
{% if BOOTSTRAP.auto_update.install_recommended %}
        "origin=Debian,codename=${distro_codename},label=Debian";
        "origin=Debian,codename=${distro_codename}-updates";
{% endif %}
{% if BOOTSTRAP.auto_update.install_security %}
        "origin=Debian,codename=${distro_codename},label=Debian-Security";
        "origin=Debian,codename=${distro_codename}-security,label=Debian-Security";
{% endif %}
};

// Python regular expressions, matching packages to exclude from upgrading
Unattended-Upgrade::Package-Blacklist {
{% for exclusion in BOOTSTRAP.auto_update.exclusions %}
        "{{ exclusion }}";
{% endfor %}

{% if BOOTSTRAP.auto_update.exclude_kernel %}
        "linux-headers*";
        "linux-image*";
        "linux-generic*";
        "linux-modules*";
{% endif %}
};

Unattended-Upgrade::AutoFixInterruptedDpkg "{{ BOOTSTRAP.auto_update.auto_fix }}";

Unattended-Upgrade::InstallOnShutdown "{{ BOOTSTRAP.auto_update.on_shutdown }}";
Unattended-Upgrade::Remove-Unused-Kernel-Packages "{{ BOOTSTRAP.auto_update.remove_unused_kernel }}";
Unattended-Upgrade::Remove-New-Unused-Dependencies "{{ BOOTSTRAP.auto_update.remove_unused_packages }}";
Unattended-Upgrade::Remove-Unused-Dependencies "{{ BOOTSTRAP.auto_update.remove_unused_packages }}";

// auto reboot
Unattended-Upgrade::Automatic-Reboot "{{ BOOTSTRAP.auto_update.auto_reboot }}";
Unattended-Upgrade::Automatic-Reboot-WithUsers "{{ BOOTSTRAP.auto_update.auto_reboot_with_users }}";
Unattended-Upgrade::Automatic-Reboot-Time "{{ BOOTSTRAP.auto_update.auto_reboot_time }}";

// logging
Unattended-Upgrade::SyslogEnable "{{ BOOTSTRAP.auto_update.logging }}";
Unattended-Upgrade::SyslogFacility "daemon";
Unattended-Upgrade::Verbose "{{ BOOTSTRAP.auto_update.logging_verbose }}";

// these should only be changed if really needed
Unattended-Upgrade::OnlyOnACPower "true";
Unattended-Upgrade::Skip-Updates-On-Metered-Connections "true";
Unattended-Upgrade::Debug "false";
Unattended-Upgrade::MinimalSteps "true";
Unattended-Upgrade::Allow-downgrade "false";
Unattended-Upgrade::Allow-APT-Mark-Fallback "true";
